body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#map-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    cursor: grab;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    z-index: 10;
    white-space: nowrap;
}

#map-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: Minecraft, sans-serif;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
}
#map-controls h3 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 10px;
}
#map-controls label {
    font-size: 14px;
}

