body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: MinecraftRegular;
    overflow: hidden;
}

#sidebar {
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;

    font-family: MinecraftRegular;
    color: #fff;
    font-size: 14px;

    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: black 0 0 4px;
    line-height: 1.3;
    outline: 2px solid #2c075f;
    outline-offset: -4px;
    padding: 15px;
}


input[type="text"], input[type="color"], select, button {
    font-family: MinecraftRegular;
    font-size: 14px;
    color: #ffffff;

    background-color: #1c1c1c;
    border: 2px solid #3f0a85;
    border-radius: 6px;
    outline: none;

    padding: 6px 10px;
    margin-bottom: 10px;
    width: 100%;

    box-shadow: 0 0 5px rgba(60, 0, 100, 0.5);
    transition: all 0.2s ease-in-out;

    box-sizing: border-box;
}

input[type="text"]:focus, input[type="color"]:focus, select:focus, button:focus {
    border-color: #a669ff;
    box-shadow: 0 0 8px #a669ff;
    background-color: #2a2a2a;
}


button {
    background-color: #37005a;
    border: 2px solid #6100b0;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

button:hover {
    background-color: #4b0091;
    border-color: #a669ff;
    color: #fff;
}


input[type="color"] {
    padding: 0;
    height: 32px;
    width: 100%;
    cursor: pointer;
    border: 2px solid #3f0a85;
    border-radius: 6px;
    outline: none;
    background: none;
    border: none;
}


#selected-territory-list div {
    background-color: #1f0037;
    padding: 4px 8px;
    margin-bottom: 3px;
    border-left: 3px solid #a669ff;
    border-radius: 3px;
    font-size: 13px;
}


#toggle-resources {
    width: auto;
    padding: 10px;
}

#popup.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    width: 30%;
    margin-right: 15%;

    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: black 0 0 4px;
    line-height: 1.3;
    outline: 2px solid #2c075f;
    outline-offset: -4px;
    padding: 20px;
}


