/* Live map controls overlay */

#map-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;

    font-family: MinecraftRegular;
    color: #fff;
    font-size: 14px;
    z-index: 10;

    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: black 0 0 4px;
    line-height: 1.3;
    outline: 2px solid #2c075f;
    outline-offset: -4px;
    padding: 15px;
}

#map-controls h3 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 10px;
}
#map-controls label {
    font-size: 14px;
}